:root {
    --num-of-days: 6;
    /* デフォルト値 */
}

.periodButtonContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: none !important;
}

.emptyDiv {
    grid-column-start: 3;
    grid-column-end: -1;
    border: none !important;

}

.timeTable {
    display: grid;
    width: 100%;
    grid-template-columns: 30px repeat(var(--num-of-days), 1fr);
    margin-top: 6px;
    margin-bottom: 6px;
}

.timeTable div {
    border: 1px solid #ddd;
    text-align: center;
    border: 1px solid #ddd;
}

.timeTable a {
    text-decoration: none !important;
    color: #404040 !important;
}

#firstTimeTable .firstPeriodButton {

    color: #0f3e57;
    background-color: #cadae3;
    font-weight: 600;
}

#secondTimeTable .secondPeriodButton {
    color: #0f3e57;
    background-color: #cadae3;
    font-weight: 600;
}